<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- MUFFADAL LOCAL -->
    <add name="Wizard3DB" connectionString="server=.;database=LOCALRIDGEWAY;user id=crown;password=Cr0wn;MultipleActiveResultSets=True;Application Name=LOCALRIDGEWAY;" providerName="System.Data.SqlClient" />
    <add name="Wizard3Entities" connectionString="metadata=res://*/WizardDB.csdl|res://*/WizardDB.ssdl|res://*/WizardDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=.;database=LOCALRIDGEWAY;user id=crown;password=Cr0wn;MultipleActiveResultSets=True;Application Name=LOCALRIDGEWAY;&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>